body{
  background:#563765;
  color:#E9FFEF;
}

.circle {
    margin:auto;
    border-radius: 50%;
    width: 100%;
    height: 200px;
    background: #FBFF98;
    margin-top:20px;
    margin-bottom:20px;
    padding-bottom:100%;
}



.title h1{
  color:#00FBFF;
    font-family: "Open Sans", sans-serif;
    font-size:50px;
    text-align:center;
    width:100%;
    padding-top:45%;
    z-index:10;
}

h1,h2{
  color:white;
}


.info{
 padding:0px;
 padding-left:5px;
 padding-right:5px;
}

.info_about{
  font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    font-size:13.5vw;
    line-height:12vw;
    text-transform: uppercase;
}

.info_speaking{

  font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    font-size:9.5vw;
    line-height:9vw;
    text-transform: uppercase;
}



.info_store{

  font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    font-size:15.5vw;
    line-height:14vw;
    text-transform: uppercase;
}

@media only screen and (max-width: 40em) {
  .info_press{
    font-size:32vw;
    line-height:25vw;
  }

  .info_about{
    font-size: 27.5vw;
    line-height: 25vw;
  }

  .info_speaking{
    font-size: 19vw;
    line-height: 18vw;
  }

}

.logo-title{
    font-family: "open sans";
    font-size: 15vw;
    text-align: center;
    margin: 0px;
    padding: 0px;
    z-index:10;
    position:absolute;
}

#drawing-video{
  z-index:5;
  position:absolute;
}

.social-contact{
  margin-top:10px;
}
.social-contact p{

  font-size: 3em;
  line-height:1em;
}

#projects-container{
   text-align:center;
}


.footer{
  text-align:center;
width:100%;
}

p, li{
    font-size:1.2em;
    font-family: "Open Sans";
    font-weight:600;
}

.feature p {
    position: absolute;
    margin: auto;
    font-weight:600;
    font-size:1.5em;
    color:white;
    background-color:rgba(0, 0, 0, 0.5)
}


#bloopsection{
  height:200px;
  font-weight:800;
  color:white;
}

#bloopsection a{
  color:white;
  font-size:11vw;
  bottom:0px;
}

.feature{
    margin:5px;
}

.feature .columns{
    padding-left:0px;
    padding-right:0px;
}

.feature img{
    width:100%;
    height:100%;
}


.row{
    max-width:none;
}





/*

    .projects{
    padding-top:10px;
    border-color:purple;
    border-style:solid;
    border-width:20px;
}

    .social{
    padding-top:10px;
    border-color:green;
    border-style:solid;
    border-width:20px;
}

    .speaking{
    padding-top:10px;
    border-color:yellow;
    border-style:solid;
    border-width:20px;
}

 */


a{
  color:#00FBFF;
}
a:hover{
  color: orange;
}

#bio-img{
  background-image: url('http://i.imgur.com/6BubYO3.jpg');
  background-position: -0px -0px;
  width:100%;
  height: 0px;;
  padding-bottom: 56.29%;
  display:block;
  background-size:auto 2000%;
  animation: play 2.5s steps(20) infinite ;
}

@keyframes play{
    100% { background-position: 0 -2000%; }
}

#name {
}

#name p{
  margin-bottom:none;
  font-size:2em;
}

.projects-spacer{
  height:300vw;
  background: rgba(92,97,255,1);
  background: -moz-linear-gradient(top, rgba(92,97,255,1) 0%, rgba(92,97,255,1) 34%, rgba(189,5,235,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,97,255,1)), color-stop(34%, rgba(92,97,255,1)), color-stop(100%, rgba(189,5,235,1)));
  background: -webkit-linear-gradient(top, rgba(92,97,255,1) 0%, rgba(92,97,255,1) 34%, rgba(189,5,235,1) 100%);
  background: -o-linear-gradient(top, rgba(92,97,255,1) 0%, rgba(92,97,255,1) 34%, rgba(189,5,235,1) 100%);
  background: -ms-linear-gradient(top, rgba(92,97,255,1) 0%, rgba(92,97,255,1) 34%, rgba(189,5,235,1) 100%);
  background: linear-gradient(to bottom, rgba(92,97,255,1) 0%, rgba(92,97,255,1) 34%, rgba(189,5,235,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c61ff', endColorstr='#bd05eb', GradientType=0 );

}

.projects-spacer h1{
    text-align:center;
    color:white;
    font-family: "Open Sans";
    font-weight:800;
    text-transform: uppercase;
    font-size: 26vw;
    line-height: 10vw;
}

.upcoming{
  background: #FF6060;
}

.intro{
  background:#ff9e00;
}

.speaking{
  background:#00de9b;
}

.verb-blurb{
  font-size:1.5em;
}
