body{
  background:#563765;
  color:#E9FFEF;
}

.circle {
    margin:auto;
    border-radius: 50%;
    width: 100%;
    height: 200px;
    background: #FBFF98;
    margin-top:20px;
    margin-bottom:20px;
    padding-bottom:100%;
}



.title h1{
  color:#00FBFF;
    font-family: Helvetica Neue, sans-serif;
    font-size:50px;
    text-align:center;
    width:100%;
    padding-top:45%;
}

h1,h2{
  color:white;
}


/*
.info{
  font-size: 4vw;
  line-height: 1.2;
}
  */

.social-contact{
  margin-top:10px;
}
.social-contact p{

  font-size: 3em;
  line-height:1em;
}

#projects-container{
   text-align:center;
}


.footer{
  text-align:center;
width:100%;
}

p, li{
    font-size:1.2em;
}

.feature p {
    position: absolute;
    margin: auto;
    font-weight:600;
    font-size:1.5em;
    color:white;
    background-color:rgba(0, 0, 0, 0.5)
}


#bloopsection{
  height:200px;
  font-weight:800;
  color:white;
}

#bloopsection a{
  color:white;
  font-size:11vw;
  bottom:0px;
}

.feature{
    margin:5px;
}

.feature img{
    width:100%;
    height:100%;
}


.row{
    max-width:none;
}

.margin{
    margin-top:20px;
}

.bio{
}

/*

    .projects{
    padding-top:10px;
    border-color:purple;
    border-style:solid;
    border-width:20px;
}

    .social{
    padding-top:10px;
    border-color:green;
    border-style:solid;
    border-width:20px;
}

    .speaking{
    padding-top:10px;
    border-color:yellow;
    border-style:solid;
    border-width:20px;
}

 */


a{
  color:#00FBFF;
}
a:hover{
  color: orange;
}

#bio-img{
  background-image: url('http://i.imgur.com/6BubYO3.jpg');
  background-position: -0px -0px;
  height: 349px;
  animation: play 2.5s steps(20) infinite ;
}

@keyframes play{
    100% { background-position: 0 -6980px; }
}

#name {
}

#name p{
  margin-bottom:none;
  font-size:2em;
}

.projects-spacer{
  height:250vh;
  background: rgba(92,97,255,1);
  background: -moz-linear-gradient(top, rgba(92,97,255,1) 0%, rgba(92,97,255,1) 34%, rgba(189,5,235,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,97,255,1)), color-stop(34%, rgba(92,97,255,1)), color-stop(100%, rgba(189,5,235,1)));
  background: -webkit-linear-gradient(top, rgba(92,97,255,1) 0%, rgba(92,97,255,1) 34%, rgba(189,5,235,1) 100%);
  background: -o-linear-gradient(top, rgba(92,97,255,1) 0%, rgba(92,97,255,1) 34%, rgba(189,5,235,1) 100%);
  background: -ms-linear-gradient(top, rgba(92,97,255,1) 0%, rgba(92,97,255,1) 34%, rgba(189,5,235,1) 100%);
  background: linear-gradient(to bottom, rgba(92,97,255,1) 0%, rgba(92,97,255,1) 34%, rgba(189,5,235,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c61ff', endColorstr='#bd05eb', GradientType=0 );

}

.projects-spacer h1{
    text-align:center;
    color:white;
    font-size:10vw;
}

.upcoming{
  background: #FF6060;
}

.intro{
  background:#FF00AB;
}
